<!doctype html>
<html lang="en" ng-app="loanTracker">
<head>
    <meta charset="UTF-8">
    <title>Decoding AngularJS: Filters</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/base.css">
</head>
<body ng-controller="loanCtrl as loanList">
<h1>{{loanList.title}}</h1>
<form>
    <label for="search">Search Name</label>
    <input type="search" id="search" ng-model="">
    <label for="paid">Paid</label>
    <input type="radio" name="paidGroup" id="paid" value="true" ng-model="" />
    <label for="unpaid">Unpaid</label>
    <input type="radio"  name="paidGroup" id="unpaid" value="false" ng-model="" />

</form>
<ul class="loan-list">
    <li ng-repeat="debtor in loanList.debtors">
        <h2>{{debtor.name}}</h2>
        <dl>
            <dt>Status</dt><dd>{{debtor.paid}}</dd>
            <dt>Amount</dt><dd>{{debtor.amount}}</dd>
            <dt>Date Loaned</dt><dd>{{debtor.loanDate}}</dd>
        </dl>
    </li>
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<script>
    angular.module('loanTracker', [])
            .controller('loanCtrl', loanCtrl);

    function loanCtrl () {
        var vm = this;
        vm.title = 'Loan';
        vm.debtors = [
            {name:'Steve Smith', loanDate: '2016-01-17T03:24:00', amount: '54.50', paid:true},
            {name:'Danny Carey', loanDate: '2016-02-17T03:24:00', amount: '2599', paid:true},
            {name:'JoJo Mayer', loanDate: '2015-11-17T03:24:00', amount: '3982.50', paid:true},
            {name:'Denis Chambers', loanDate: '2016-04-17T03:24:00', amount: '63.70', paid:false},
            {name:'Terry Bozzio', loanDate: '2014-02-17T03:24:00', amount: '95.00', paid:true},
            {name:'Buddy Rich', loanDate: '1975-02-17T03:24:00', amount: '9999999', paid:false},
            {name:'Gene Krupa', loanDate: '1963-02-17T03:24:00', amount: '2', paid:false},
            {name:'Steve Gadd', loanDate: '2016-01-17T03:24:00', amount: '54.50', paid:true},
            {name:'John Bonham', loanDate: '2016-02-17T03:24:00', amount: '2599', paid:true},
            {name:'Neil Peart', loanDate: '2015-11-17T03:24:00', amount: '3982.50', paid:true},
            {name:'Keith Moon', loanDate: '2016-04-17T03:24:00', amount: '63.70', paid:false},
            {name:'Dave Grohl', loanDate: '2014-02-17T03:24:00', amount: '95.00', paid:true},
            {name:'Ringo Starr', loanDate: '1975-02-17T03:24:00', amount: '9999999', paid:false},
            {name:'Stewart Copeland', loanDate: '1963-02-17T03:24:00', amount: '2', paid:false},
            {name:'Ginger Baker', loanDate: '2016-01-17T03:24:00', amount: '54.50', paid:true},
            {name:'Travis Barker', loanDate: '2016-02-17T03:24:00', amount: '2599', paid:true},
            {name:'Mike Portnoy', loanDate: '2015-11-17T03:24:00', amount: '3982.50', paid:true},
            {name:'Phil Collins', loanDate: '2016-04-17T03:24:00', amount: '63.70', paid:false},
            {name:'Lars Urlrich', loanDate: '2014-02-17T03:24:00', amount: '95.00', paid:true},
            {name:'Dave Lonbardo', loanDate: '1975-02-17T03:24:00', amount: '9999999', paid:false},
            {name:'Alex Van Halen', loanDate: '1963-02-17T03:24:00', amount: '2', paid:false},
            {name:'Chad Smith', loanDate: '2016-01-17T03:24:00', amount: '54.50', paid:true},
            {name:'Bill Bruford', loanDate: '2016-02-17T03:24:00', amount: '2599', paid:true},
            {name:'Charlie Watts', loanDate: '2015-11-17T03:24:00', amount: '3982.50', paid:true},
            {name:'Mitch Mitchell', loanDate: '2016-04-17T03:24:00', amount: '63.70', paid:false},
            {name:'Ian Paice', loanDate: '2014-02-17T03:24:00', amount: '95.00', paid:true},
            {name:'Tomas Haake', loanDate: '1975-02-17T03:24:00', amount: '9999999', paid:false},
            {name:'Billy Cobham', loanDate: '1963-02-17T03:24:00', amount: '2', paid:false}
        ]
    }
</script>
</body>
</html>