* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    width:80%;
    margin: 10% auto;
}
.loan-list {
    list-style: none;
    padding: 0;
}
.loan-list li {
    display: inline-block;
    margin:20px;
}
.loan-list dt {
    float: left;
    clear: left;
    width: 106px;
    text-align: left;
    font-weight: bold;
    color: red;
}
.loan-list dt:after {
    content: ":";
}
.loan-list dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

.product {
    width: 50%;
    display: inline-block;
    padding: 30px;
}
.product h2{
    color:red;
}
.product > a {
    color:#666;
    text-decoration: none;
}
.product .buy {
    border: none;
    padding: 10px 20px;
    background-color: red;
    color: white;
}

.slideshow  {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height:300px;
}
.slideshow li {
    position: absolute;
    overflow: hidden;
}
.slideshow li p{
    position: absolute;
    bottom:0;
    left: 0;
    padding-left:10px;
    background: rgba(0,0,0,0.5);
}
